<ion-header>
  <ion-toolbar>
    <ion-title>Partage d'ecris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid >
    <ion-row style="text-align: center;">
      <ion-col size="12" size-md="12" size-lg="6">
        <img src="../../../assets/write.png" alt="" style="width: 200px;">
      </ion-col>
      <ion-col size="12" size-md="12" size-lg="6" >
        <form action="" >
          <input type="text" placeholder="Partage avec nous.." style="border: 1px solid white; text-align: center;" id="ecris" >
          <div class="right">
            <input type="submit" value="Partager" id="ok">

          </div>
        </form>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
