<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


<ion-content class= "signup" style="--background-color: black !important;" >
  <div class="background">
    <div class="shape">  <h1 style="position: fixed; color: white; margin: 132px 38px 31px 118px; ">Bienvenue <br><span style="text-indent: 20px;">sur </span> </h1> </div>
    <div class="shape"> <h1 style="position: relative; color: white; margin: 70px 20px 0px 50px;"  > Continuer</h1> </div>
    
</div>

<div >
  <img src="../../../assets/Group 36 (3).png" style="position: fixed; top: 350px;  width: 266px; ">

</div>



</ion-content>
