.lg{
    position:20px;
    width: ç0px;
    height: 40px;
    left: 17px;
    top: 40px;
    margin-top: 15px;
    margin-bottom: 41px;
    }
.bien{
    text-align: center;
    color: #0b396d;
    font-size: 30px;
    margin-top: -20px;
}

.class{
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.22);
    width: 100%;
    height: 100px;
}

.pt{
    height: 70px;
    padding-left: 22px;
    padding-right: 15px;
    margin-top: 12px;

}

.desc{
    line-height:10px;
    left:50px;
    margin-top: 20px;
}

.test{
    margin-top: 4% !important;
    width: 100%;
    height: 30%;

}
