ion-content{
  --background : #F0F4FD;

  p{
   font-weight: 300;
  }
}
ion-card{
  border-radius: 10px;
  box-shadow: 1px 2px 3px gray;
}



.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 80px;
}

.button-native{
  background: #F0F4FD !important;
}

