<!-- <ion-header>
  <ion-toolbar>
    <ion-title>inscription</ion-title>
  </ion-toolbar>
</ion-header> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<ion-content>
  <ion-row>
    <ion-col size="12">
      <img src="../../../assets/inscription.gif" alt="">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

         <!-- username input -->
         <div class="form-outline mb-4" >
          <label class="form-label" for="form2Example1">Nom user</label>
          <input type="text"  id="form2Example1 inputshadox" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }"/>
        </div>


        <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Username is required</div>
          <div *ngIf="username.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>



        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Email address</label>
          <input type="email" id="form2Example1" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }" />
        </div>

        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>


        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example2">Password</label>
          <input type="password" id="form2Example2" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
        </div>


        <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>

         <!-- 2 column grid layout for inline styling
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
             Checkbox
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>

          <div class="col">
             Simple link
            <a href="#!">Forgot password?</a>
          </div>
        </div> -->

        <!-- Submit button -->
        <button class="btn btn-primary btn-block mb-4" style="text-align: center;">Sign in</button>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Vous êtes dejà inscris? <a href="#!">Connexion</a></p>
          

          <!-- <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button> -->
        </div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </ion-col>
  </ion-row>

</ion-content>
