<!-- <ion-header>
  <ion-toolbar>
    <ion-title>inscription</ion-title>
  </ion-toolbar>
</ion-header> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<ion-content>


  <div class="wrapper">
      <div class="logo">
          <img src="../../../assets/121421-login.gif" alt="">
      </div>
      <div class="text-center mt-4 name">
          GOODMOOD
      </div>
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-field d-flex align-items-center">
              <span class="far fa-user"></span>
              <input type="text"id="form2Example2"   placeholder="Nom d'utilisateur" name="username"
              [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && username.errors }" >
          </div>
          <!--kkkkkkkkkkkkkkkkkkkkkkkkkkkkk-->

          <div  style="color: red;" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors['required']">
              champs obligatoire
            </div>
            <div *ngIf="username.errors['minlength']">
              Username doit etre plus que 3 characteres
            </div>
            <div *ngIf="username.errors['maxlength']">
              Username doit etre moins de 20 characteres
            </div>
            <!-- <div *ngIf="username !== null">
              Le nom d'utilisateur existe déjà. Veuillez en choisir un autre.
            </div> -->

          </div>


          <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email" id="form2Example2"   placeholder=" Email" name="email" [(ngModel)]="form.email" required
            email #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }">
        </div>
        <!--kkkkkkkkkkkkkkkkkkkkkkkkkkkkk-->
        <div style="color: red;" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">champ email obligatoire</div>
          <div *ngIf="email.errors['email']">
            L'email doit être valable
          </div>
        </div>



          <div class="form-field d-flex align-items-center">
              <span class="fas fa-key"></span>
              <input type="password" id="form2Example2" placeholder="Mot de passe" name="password" [(ngModel)]="form.password"
              required minlength="8" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
          </div>

          <!--kkkkkkkkkkkkkkkkkkkkkkkkkkkkk-->

        
          <div  style="color: red;" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">champs password obligatoire</div>
            <div *ngIf="password.errors['minlength']">
              Le password ne doit pas être inferieur a 8
            </div>
          </div>


          <button class="btn mt-3">Inscription</button>

          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Inscription faible!<br />{{ errorMessage }}
          </div>
          
      </form>
      <div class="text-center fs-6">
          <a href="/tab/login">Connexion</a>
      </div>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
  </div>
  

</ion-content>