<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Choisis tes thématiques</ion-title>
  </ion-toolbar>
</ion-header>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>



<ion-content>
  <div class="container">


    <div class="row">
    
      <div class="col-12 text-center mt-4 mb-4">
      <img id="imgsrc" src="../../../assets/2.png" alt="">      </div>
      
    </div>


    <div class="row mb-5">
      <div class="col-6 text-center ">
        <div class="input-group col-6">
          <input class="form-control border-end-0 border rounded-pill" type="text" value="search" id="example-search-input">
          <span class="input-group-append">
              <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill " type="button">
                  <i class="fa fa-search"></i>
              </button>
          </span>
   </div>     
    </div>

      <div class="col-3 text-center ">
        <ion-button shape="round"  (click)="AjouterDomainePourUses()"  >Suivant </ion-button> 
         
          </div>

         
    </div>

    <div class="row">
      <div class="col-6  text-center mt-6" *ngFor="let item of Affichertoutlesdomaines ;" >
            <ion-card style="border-radius: 12px; overflow: hidden;">
          <img alt="Silhouette of mountains" width="200px" height="119px" src="{{item.imagedomaine}}" />
          <ion-card-header>
            <!-- <ion-card-title><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Card Title</ion-card-title> -->
            <ion-card-subtitle style="font-weight: bold;"><input class="form-check-input" type="checkbox" value="" id="domaine{{item.iddomaine}}">{{item.nomdomaine}}</ion-card-subtitle>
          </ion-card-header>
            </ion-card>
      </div>
   
      
    </div>
  </div>
</ion-content>
