<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>AccueilAdmin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form >

    <h3 id="lbl">Login Here</h3>

    <label for="username" id="lbl">Username</label>

    <!--kkkkkkkkkkkkkkkkkkkkkkkkkkkkk-->

    <div >
      Username is required!
    </div>







    <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
</form>

</ion-content>
