<!-- <ion-header>
  <ion-toolbar>
    <ion-title>favoris</ion-title>
  </ion-toolbar>
</ion-header>
<div class="row">
  <div class="col-12" style="text-align: center; color: rgb(8, 8, 51);">
    <h1>Conserver vos coup de coeur   <ion-icon name="heart" style="color: brown;"></ion-icon> </h1>
  </div>
</div> -->

<ion-content>
  <div class="container essai">

  </div>

  <div class="div" style="margin-top: 150px;" >




    <div class="test" style="background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0.25, 0.25));
    border-radius: 12px;" *ngFor="let item of toutlesfavoris">
  <div class="row" >
    <div class="col-4" >
      <div class="text-centre">
        <img src="../../../assets/2.png" alt="image" style="height: 70px;padding-left: 22px;margin-top: 20px;">
      </div>
    </div>
    <div class="col-8 "  >
      <div class="desc">
        <h3>Notification</h3>
        <p style="overflow: auto; height: 80px; width: 200px; text-align: justify; line-height:17px;"> <!-- data-bs-toggle="modal" data-bs-target="#user-info" -->
         {{item.contenu}} </p>

          <ion-icon name="heart" id="{{item.idcitation}}" (click)="SupprimerFav(item.idcitation)" [ngStyle]="{'color': 'red'}" style="zoom:2.0;"></ion-icon>

      </div>
    </div>
  </div>
</div>


  </div>

</ion-content>
