<!-- <ion-header>
  <ion-toolbar>
    <ion-title>favoris</ion-title>
  </ion-toolbar>
</ion-header>
<div class="row">
  <div class="col-12" style="text-align: center; color: rgb(8, 8, 51);">
    <h1>Conserver vos coup de coeur   <ion-icon name="heart" style="color: brown;"></ion-icon> </h1>
  </div>
</div> -->

<ion-content>
  <img src="../../../assets/favoris.png" alt="" id="img">
  <ion-card color="primary">
    <ion-card-content>
      j'ecris pour me liberer car mon coeur est tellement serrer qu'il risque d'exploser
            </ion-card-content>
    <ion-card-header>
      <!-- <ion-card-title>Card Title</ion-card-title> -->
      <ion-card-subtitle>@Roocky</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <ion-card style="background-image: url(../../../assets/bg.png);">
    <ion-card-content>
      j'ecris pour me liberer car mon coeur est tellement serrer qu'il risque d'exploser
            </ion-card-content>
    <ion-card-header>
      <!-- <ion-card-title>Card Title</ion-card-title> -->
      <ion-card-subtitle>@Roocky</ion-card-subtitle>
    </ion-card-header>

  </ion-card>

  <ion-card color="tertiary">
    <ion-card-content>
      j'ecris pour me liberer car mon coeur est tellement serrer qu'il risque d'exploser
            </ion-card-content>
    <ion-card-header>
      <!-- <ion-card-title>Card Title</ion-card-title> -->
      <ion-card-subtitle>@Roocky</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Card Content
    </ion-card-content>
  </ion-card>

  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Card Content
    </ion-card-content>
  </ion-card>

  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Card Content
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Card Content
    </ion-card-content>
  </ion-card>

  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Card Content
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Card Content
    </ion-card-content>
  </ion-card> -->

</ion-content>
