<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


<ion-content >

  <div class="wrapper">
    <div class="logo">
        <img src="../../../assets/121421-login.gif" alt="">
    </div>
    <div class="text-center mt-4 name">
        <img src="../../../assets/logooriginal.png" alt="">
    </div>
    <form class="p-3 mt-3" *ngIf="!isLoggedIn"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="username" placeholder="Username" [(ngModel)]="form.username"
            required
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
        </div>
        <!--kkkkkkkkkkkkkkkkkkkkkkkkkkkkk-->

    <div *ngIf="username.errors && f.submitted" >
      Champs obligatoires
    </div>


        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="form.password"
            required
            minlength="8"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
        </div>

         <!--kkkkkkkkkkkkkkkkkkkkkkkkkkkkk-->

       <div *ngIf="password.errors && f.submitted" >
        <div *ngIf="password.errors['required']"> Champs obligatoire</div>
        <div *ngIf="password.errors['minlength']">
          Le passwword doit être plus de 8 caractères
        </div>
      </div>


        <button class="btn mt-3">Connexion</button>

        <div class="form-group">
          <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
           Connexion faible: {{ errorMessage }}
          </div>
        </div>
        
    </form>
    <div class="text-center fs-6">
        <a href="#">Mot de passe oublié?</a> or <a href="/inscription">Inscription</a>
    </div>
</div>



</ion-content>
