<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


<ion-content class= "signup" style="--background-color: black !important;" >
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form *ngIf="!isLoggedIn"
name="form"
(ngSubmit)="f.form.valid && onSubmit()"
#f="ngForm"
novalidate>

    <h3 id="lbl">Login Here</h3>

    <label for="username" id="lbl">Username</label>
    <input type="text" placeholder="Email or Phone" id="username"  class="form-control"
    name="username"
    [(ngModel)]="form.username"
    required
    #username="ngModel"
    [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
    <!--kkkkkkkkkkkkkkkkkkkkkkkkkkkkk-->

    <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
      Username is required!
    </div>


    <label for="password"id="lbl">Password</label>
    <input type="password" placeholder="Password" id="password"  class="form-control"
    name="password"
    [(ngModel)]="form.password"
    required
    minlength="6"
    #password="ngModel"
    [ngClass]="{ 'is-invalid': f.submitted && password.errors }">

       <!--kkkkkkkkkkkkkkkkkkkkkkkkkkkkk-->

       <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
        <div *ngIf="password.errors['required']">Password is required</div>
        <div *ngIf="password.errors['minlength']">
          Password must be at least 6 characters
        </div>
      </div>




    <button>Log In</button>
    
    <div class="form-group">
      <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
        Login failed: {{ errorMessage }}
      </div>
    </div>


    <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
</form>




</ion-content>
