
  
  #imgform{
    height: 80%;
    width: 100%;
  }
    @media (max-width: 768px) {
  
  }
  
  
  .container {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 15px;
    background: #fff;
    margin-top:3%;
    // height: 80%;
    // margin: auto;
    box-shadow: 0px 6px 4px 6px rgba(0, 0, 0, 0.10);
  }
  
  #inputs{
    box-shadow: none;
    outline:none;
  }
  label{
  color:#113E4D ;
  }
  
  .bouton{
    background-color: #113E4D;
   
    border: none;
    font-weight: bold;
    margin-bottom: 10%;
    border-radius: 5px;
    width: 100%;
    color: #fff;
  margin-left: auto;
  margin-right: auto;
    letter-spacing: 0.03em;
  }
  
  #import{
      box-shadow: none;
      border-radius: none;
      background: white;
    }
    
    .importer{
      border: 2px dashed black;
      padding: 30px;
      border-radius: 10px;
    }
     #iconeImport{
      margin-bottom: 10px;
      font-size:60px ;
      margin-left: 70px;
    
    }
    #select{
        background-color: #F8FAFC;
        color: black;
        border: 1px solid #B8BCCA ;
        padding: 12px 178px 12px 0px;
        border-radius: 5px;
       width: 100%;
      }

      // pagination

      .pagination ::ng-deep .ngx-pagination .current {
        background-color: #000; }
  
  
  // /*search*/

  

// .searchBox {
//     //position: absolute;
//     top: 50%;
//     left: 50%;
//     transform:  translate(-50%,50%);
//     background: #2f3640;
//     height: 40px;
//     border-radius: 40px;
//     padding: 10px;

// }

// .searchBox:hover > .searchInput {
//     width: 240px;
//     padding: 0 6px;
// }

// .searchBox:hover > .searchButton {
//   background: white;
//   color : #2f3640;
// }

// .searchButton {
//     color: white;
//     float: right;
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//     background: #2f3640;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transition: 0.4s;
// }

// .searchInput {
//     border:none;
//     background: none;
//     outline:none;
//     float:left;
//     padding: 0;
//     color: white;
//     font-size: 16px;
//     transition: 0.4s;
//     line-height: 40px;
//     width: 0px;

// }

// @media screen and (max-width: 620px) {
// .searchBox:hover > .searchInput {
//     width: 150px;
//     padding: 0 6px;
// }
// }
  


  //<!--Table et statppp-->

 
// .col-div-2{
// 	width: 100%;
// 	float: left;
// }
// .content-box{
// 	padding: 20px;
// }
// .content-box p{
// 	margin: 0px;
//     font-size: 20px;
//     color: #f7403b;
// }
// .content-box p span{
// 	float: right;
//     background-color: #ddd;
//     padding: 3px 10px;
//     font-size: 15px;
// }
// .box-8, .box-4{
// 	width: 95%;
// 	background-color: #272c4a;
// 	height: 330px;
	
// }
// .nav2{
// 	display: none;
// }

// .box-8{
// 	margin-left: 10px;
// }
// table {
//   font-family: arial, sans-serif;
//   border-collapse: collapse;
//   width: 100%;
  
// }
// td, th {
//   text-align: left;
//   padding:15px;
//   color: #ddd;
//   border-bottom: 1px solid #81818140;
// }
// .circle-wrap {
//   margin: 50px auto;
//   width: 150px;
//   height: 150px;
//   background: #e6e2e7;
//   border-radius: 50%;
// }
// .circle-wrap .circle .mask,
// .circle-wrap .circle .fill {
//   width: 150px;
//   height: 150px;
//   position: absolute;
//   border-radius: 50%;
// }
// .circle-wrap .circle .mask {
//   clip: rect(0px, 150px, 150px, 75px);
// }

// .circle-wrap .circle .mask .fill {
//   clip: rect(0px, 75px, 150px, 0px);
//   background-color: #f7403b;
// }
// .circle-wrap .circle .mask.full,
// .circle-wrap .circle .fill {
//   animation: fill ease-in-out 3s;
//   transform: rotate(126deg);
// }

// @keyframes fill {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(126deg);
//   }
// }
// .circle-wrap .inside-circle {
//   width: 130px;
//   height: 130px;
//   border-radius: 50%;
//   background: #fff;
//   line-height: 130px;
//   text-align: center;
//   margin-top: 10px;
//   margin-left: 10px;
//   position: absolute;
//   z-index: 100;
//   font-weight: 700;
//   font-size: 2em;
// }



  

  
  