<ion-header>
  <ion-toolbar>
    <ion-title>accueiladmin</ion-title>
  </ion-toolbar>

  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <main class="main-container">
    <div class="main-title">
      <p class="font-weight-bold">DASHBOARD</p>
    </div>

    <div class="main-cards">

      <div class="card">
        <div class="card-inner">
          <p class="text-primary">Utilisateur</p>
          <span class="material-icons-outlined text-blue">icon</span>
        </div>
        <span class="text-primary font-weight-bold">249</span>
      </div>

      <div class="card">
        <div class="card-inner">
          <p class="text-primary">Thematiques</p>
          <span class="material-icons-outlined text-orange">icon</span>
        </div>
        <span class="text-primary font-weight-bold">83</span>
      </div>

      <div class="card">
        <div class="card-inner">
          <p class="text-primary">Citation</p>
          <span class="material-icons-outlined text-green">icon</span>
        </div>
        <span class="text-primary font-weight-bold">79</span>
      </div>

      <div class="card">
        <div class="card-inner">
          <p class="text-primary">Admin</p>
          <span class="material-icons-outlined text-red">icont</span>
        </div>
        <span class="text-primary font-weight-bold">56</span>
      </div>

    </div>

    <div class="charts">

      <div class="charts-card">
        <p class="chart-title">Top 5 Products</p>
        <div class="chart-container">
          <canvas id="MyChart">{{ chart }}</canvas>
        </div>
      </div>

      <div class="charts-card">
        <p class="chart-title">Purchase and Sales Orders</p>
        <div id="area-chart"></div>
      </div>

    </div>
  </main>
  <!-- End Main -->
</ion-content>
