<ion-header >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <ion-toolbar>
    <ion-title slot="end" color="black">Contenus</ion-title>
    <ion-item lines="none">
      <h1 class="title" slot="start"><img class="title-image" src="../../../assets/logooriginal.png" width="123"  /></h1>
    </ion-item>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="container">

  <div class="row">
    <!-- <div class="box">
      <h1>Importer liste</h1>-->

      <div class="col- col-sm- col-md-6 col-lg-6 col-xl-6">
      <img id="imgform" src="../../../assets/1.jpg" alt="">
    </div>


    <div class="col- col-sm- col-md-6 col-lg-6 col-xl-6">
      <div class="alert alert-primary" role="alert">
        {{message}}
      </div>

      <form >

        <div class="col" class="importer">
          <i class="fa-solid fa-file-circle-plus" id="iconeImport" style="margin-left: 40%;color: rgb(232, 224, 224)
          ;"></i>
          <input type="file" name="files"id="import"class="form-control" (change)="Recupererlimage($event)"  />
        </div><br>

        <div class="input mb-3">
          <label for="inputs" class="form-label">thématiques</label>
          <select class="form-select" aria-label="Disabled select example" name="iddomaine" [(ngModel)]="iddomaine">
            <option value="{{list.iddomaine}}" *ngFor="let list of Affichertoutlesdomaines">{{list.nomdomaine}}</option>
           
          </select>
        </div>
        <div class="input mb-3">
          <label for="inputs" class="form-label">Auteur</label>
          <input id="inputs"  name="nomdomaine"  type="text"  class="form-control" id="inputs" required name="ecrivain" [(ngModel)]="ecrivain">
        </div>
        <div class="input mb-3">
          <label for="inputs" class="form-label">Contenu</label>
          <input id="inputs"  name="nomdomaine"  type="text"  class="form-control" id="inputs" required name="contenu" [(ngModel)]="contenu">
        </div>





        <button type="button" class="btn btn-outline-dark bouton" (click)="AjouterLeCitation()" >Ajouter</button>


      </form>
    </div>

  
  
  </div>


  
   </div> <br><br>


     <!--jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->

     <div class="container-fluid pt-4 px-4" style="margin-left: -2.2%; width: 104%">
      <div class="row g-4">
          <div class="col-12">
              <div class="bg-light text-center rounded p-4">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex align-items-center justify-content-between mb-4">
                          <h6 class="mb-0 py-1">La liste des annonces</h6>
                      </div>
                      <div class="col-md-4">
                          <div class="d-none d-md-flex ms-4">
                              <i class="bx bx-search icon fa-2x py-1"></i>
                              <input
                                  class="form-control border-0 border-2 border-start border-end border-alert"
                                  type="search" placeholder="Rechercher..."   />
                          </div>
                      </div>
                  </div>
                  <div class="header_fixed py-2">
                      <table>
                          <thead>
                              <tr >
                                  <th>Nom poste</th>
                                  <th>Image</th>
                                  <th>Type Contrat</th>
                                  <th>Experience</th>
                                  <th>Lieu</th>
                                 

                                  <!-- <th>Action</th> -->
                              </tr>
                          </thead>
                          <tbody>
                              <tr >
                                  
                                  
                                  <td>jjjjj</td>
                                  <td><img src="" alt="" /></td>
                                  <td>kkkkkkkkk</td>
                                  <td>kkkkkkkkk</td>
                                  <td>kkkkkkkkk</td>
                                 
                                  <!-- <td>  <div class="col" style="display: flex">
                                          <i data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
                                              class="bi bi-pencil-square i"
                                              style="color: rgb(58, 190, 31); font-size: 20px">
                                          </i>
                                          &nbsp; &nbsp; &nbsp; &nbsp;
                                          <i class="bi bi-trash3" style="color: red; font-size: 20px" >
                                          </i>
                                      </div>
                                  </td> -->

                              
                              </tr>
                              <tr >
                                  
                                  
                                <td>jjjjj</td>
                                <td><img src="" alt="" /></td>
                                <td>kkkkkkkkk</td>
                                <td>kkkkkkkkk</td>
                                <td>kkkkkkkkk</td>
                               
                                <!-- <td>  <div class="col" style="display: flex">
                                        <i data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
                                            class="bi bi-pencil-square i"
                                            style="color: rgb(58, 190, 31); font-size: 20px">
                                        </i>
                                        &nbsp; &nbsp; &nbsp; &nbsp;
                                        <i class="bi bi-trash3" style="color: red; font-size: 20px" >
                                        </i>
                                    </div>
                                </td> -->

                            
                            </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="pag">
                      <!-- <pagination-controls (pageChange)="p = $event" nextLabel="Suivants" previousLabel="Précedents"
                        [responsive]="responsive"></pagination-controls> -->
                    </div>
                  <div class="pag">

                  </div>
              </div>
          </div>

      </div>
  </div>



</ion-content>
