#imgform{
    height: 100%;
    width: 100%;
  }
    @media (max-width: 768px) {
  
  }
  
  
  .container {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 15px;
    background: #fff;
    margin-top:3%;
    // height: 80%;
    // margin: auto;
    box-shadow: 0px 6px 4px 6px rgba(0, 0, 0, 0.10);
  }
  
  #inputs{
    box-shadow: none;
    outline:none;
  }
  label{
  color:#113E4D ;
  }
  
  .bouton{
    background-color: #113E4D;
   
    border: none;
    font-weight: bold;
    margin-bottom: 10%;
    border-radius: 5px;
    width: 100%;
    color: #fff;
  margin-left: auto;
  margin-right: auto;
    letter-spacing: 0.03em;
  }
  
  #import{
      box-shadow: none;
      border-radius: none;
      background: white;
    }
    
    .importer{
      border: 2px dashed black;
      padding: 30px;
      border-radius: 10px;
    }
     #iconeImport{
      margin-bottom: 10px;
      font-size:60px ;
      margin-left: 70px;
    
    }
    #select{
        background-color: #F8FAFC;
        color: black;
        border: 1px solid #B8BCCA ;
        padding: 12px 178px 12px 0px;
        border-radius: 5px;
       width: 100%;
      }

      // pagination

      .pagination ::ng-deep .ngx-pagination .current {
        background-color: #000; }


        table {
          width: 100%;
          border-collapse: collapse;
        }
      
      
        .header_fixed {
          max-height: 100vh;
          width: 100%;
         // overflow: auto;
          border: 1px solid #dddddd;
        }
      
        .header_fixed thead th {
          position: sticky;
          top: 0;
          background-color: #146170;
          color: white;
          font-size: 15px;
        }
      
        th,
        td {
          border-bottom: 1px solid #dddddd;
          padding: 10px 20px;
          font-size: 14px;
        }
      
        td img {
          height: 60px;
          width: 60px;
          border-radius: 100%;
          border: 5px solid #e6e7e8;
        }
      
        tr:nth-child(even) {
          background-color: #dddddd;
        }
      
        tr:nth-child(odd) {
          background-color: #edeef1;
        }
      
        tr:hover td {
          color: black;
          cursor: pointer;
          background-color: #ffffff;
        }
      
        td button {
          border: none;
          padding: 7px 20px;
          border-radius: 20px;
          background-color: #146170;
          color: white;
        }
      