
<ion-header class="ion-no-border"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <ion-item lines="none">
   <!-- <ion-button fill="clear" slot="start" color="light">
     <ion-icon slot="icon-only" name="menu"></ion-icon>
   </ion-button> -->
    <ion-avatar slot="start">
      <img src="../../../assets/Group 36 (3).png" style="width: 50px;" />
    </ion-avatar>
    <ion-avatar slot="end" class="ion-margin-start"routerLink="/profil">
      <img src="../../../assets/2.png" />
    </ion-avatar>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <div class="main-header"></div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-label>
          <ion-note color="light" class="ion-margin-start">
            Bienvenue
          </ion-note>
          <p>
            <ion-chip color="light">
              <ion-label class="ion-text-wrap">
                roocky
              </ion-label>
            </ion-chip>
          </p>
        </ion-label>
      </ion-col>
      <!-- <ion-col size="6" class="ion-text-end">
        <ion-button color="light" size="small">
          <ion-text color="primary">Top Up</ion-text>
          <ion-icon name="add" color="primary" slot="end"></ion-icon>
        </ion-button>
      </ion-col> -->
    </ion-row>

    <ion-row class="ion-margin-horizontal ion-margin-top">
      <ion-col>
        <ion-label color="light">
          <b>J'espère que tu vas bien ?</b>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row  class="ion-margin">

      <ion-col size="12"  *ngFor="let item of toutlescitation">

        <div class="a-box" >
          <div class="img-container">
            <div class="img-inner">
              <div class="inner-skew">
                <img src="{{item.imagecitation}}">
               
              </div>
            </div>
          </div>
          <div class="text-container">
            <h3>Domaines</h3>
            <div style="overflow: auto; height: 80px; width: 200px; text-align: justify;">
          
{{item.contenu}}              <div>
                <h5 slot="end"> 
                  <!-- <button id="heart-button">❤️</button> -->
                  <button class="heart-button">
                    <i class="fa-light fa-heart"></i>                  </button>
                  
                </h5>

              </div>
          </div>

        </div>
      </div>
    
    
    </ion-col> 




    </ion-row>


 


   


  

  </ion-grid>


 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="open-modalthema"  expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <!--Modallllllll-->
  <ion-modal trigger="open-modalthema" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()"><span aria-hidden="true" style="font-size: 30px;">&times;</span></ion-button>
          </ion-buttons>
          <ion-title>Ajoute de nouvelle thématiques</ion-title>
        </ion-toolbar>
      </ion-header>
      

      <ion-content>
        <img src="../../../assets/Group 31 (2).png" alt=""  >
        <div class="login-section ion-padding" >
          <div class="container">
            <div class="row">
            
              <!--Tout les thematique chooisis pasr lutilisateur-->
              <div class="col-12 text-center mt-4 mb-4">

                <ion-slides [options]="slideOpts " >
                

                  <ion-slide *ngFor="let item of domaine">
                    <ion-chip  outline="true">
                      <ion-label color="black">{{item.nomdomaine}}</ion-label>
                      <ion-button fill="clear">
                        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                      </ion-button>
                    </ion-chip>   
                  </ion-slide>
                  
                </ion-slides>
                          
              </div>



              <!--liste thematique-->
             <div class="col-12 text-center mt-4 mb-4">
                <ion-card class="card3" routerLink="/ajout-annonce">
                  <ion-card class="card4" routerLink="/ajout-annonce">
                    <img style="display: flex; position: relative; width: 100%;  " src="../../../assets/1.jpg" alt=""> 
            
                  </ion-card>
                  
                  
                  <!-- <ion-icon class="point" name="ellipsis-vertical-circle-outline"></ion-icon> -->
                  <!-- <a href="" class="annonce">Créer votre annonce</a> -->
                  <h2  class="annonce">Mathematiques <input class="form-check-input text-center" style="" type="checkbox" value=""  ></h2>
                </ion-card> 
                <ion-card class="card3" routerLink="/ajout-annonce">
                  <ion-card class="card4" routerLink="/ajout-annonce">
                    <img style="display: flex; position: relative; width: 100%;  " src="../../../assets/1.jpg" alt=""> 
            
                  </ion-card>
                  
                  
                  <!-- <ion-icon class="point" name="ellipsis-vertical-circle-outline"></ion-icon> -->
                  <!-- <a href="" class="annonce">Créer votre annonce</a> -->
                  <h2  class="annonce">Mathematiques <input class="form-check-input text-center" style="" type="checkbox" value=""  ></h2>
                </ion-card> 
                <ion-card class="card3" routerLink="/ajout-annonce">
                  <ion-card class="card4" routerLink="/ajout-annonce">
                    <img style="display: flex; position: relative; width: 100%;  " src="../../../assets/1.jpg" alt=""> 
            
                  </ion-card>
                  
                  
                  <!-- <ion-icon class="point" name="ellipsis-vertical-circle-outline"></ion-icon> -->
                  <!-- <a href="" class="annonce">Créer votre annonce</a> -->
                  <h2  class="annonce">Mathematiques <input class="form-check-input text-center" style="" type="checkbox" value=""  ></h2>
                </ion-card>            
             </div>
            </div>
          </div>
      </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <script>
    //like button
  const button = document.querySelector("#heart-button");

          button.addEventListener("click", function() {
           button.classList.toggle("liked");
});
  </script>
</ion-content>
